@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Francois One', sans-serif;
  }

  .input-container{
    text-align: center;
    margin: 10px;
  }

#inputTitle{
    display: block;
    padding-right: 5%;
    text-align: end !important;
}

.button-container{
    text-align: center;
    margin-top: 10px;
}

.button-submit{
    transition: 0.2s;
    padding: 10px;
    border-radius: 5px;
}

.button-submit:hover{
    background-color: #DCDCDC;
    transform:scale(0.95)
}

input,select{
    font-size: 20px;
    padding: 5px;
    width: 50%;
    box-sizing:border-box;
    border: 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.input-title{
    font-size: 20px;
}